[package]
name = "rsa"
version = "0.1.4-alpha.0"
authors = ["RustCrypto Developers", "dignifiedquire <dignifiedquire@gmail.com>"]
edition = "2018"
description = "Pure Rust RSA implementation"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/rsa"
repository = "https://github.com/RustCrypto/RSA"
keywords = ["rsa", "encryption", "security", "crypto"]
categories = ["cryptography"]
readme = "README.md"

[dependencies]
num-bigint = { version = "0.4", features = ["rand", "i128", "u64_digit", "prime", "zeroize"], package = "num-bigint-dig" }
num-traits = "0.2.6"
num-integer = "0.1.39"
num-iter = "0.1.37"
lazy_static = "1.3.0"
rand = "0.6.5"
byteorder = "1.3.1"
failure = "0.1.5"
subtle = "2.0.0"

[dependencies.zeroize]
version = "0.6"
features = ["std", "alloc"]

[dependencies.serde]
optional = true
version = "1.0.89"
default-features = false
features = ["std", "derive"]

[dev-dependencies]
base64 = "0.10.1"
sha-1 = "0.8.1"
sha2 = "0.8.0"
hex = "0.3.2"
serde_test = "1.0.89"


[[bench]]
name = "key"

[profile.release]
# debug = true

[profile.bench]
# debug = true

[features]
default = []
nightly = ["subtle/nightly", "num-bigint/nightly", "zeroize/nightly"]
serde1 = ["num-bigint/serde", "serde"]
expose-internals = []
